[alias]
    permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
    co = checkout
    mm = mastermerge
    up = pull --rebase --autostash
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    bd = branch -D
    ppr = !git push && git pr
    icp = interactive-cherrypick
    rcp = release-cherrypick
    ir = interactive-revert
    hub = !gh
[core]
    autocrlf = input
    editor = nvim
    pager = /usr/bin/less -F -X
    quotepath = false
    commitGraph = true
	excludesFile = ~/.gitignore
[diff]
    tool = kitty
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
#    features = decorations
    line-numbers = true

    commit-decoration-style = none
    dark = true
    file-added-label = [+]
    file-copied-label = [C]
    file-decoration-style = none
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [R]
    file-style = 232 bold 184
    hunk-header-decoration-style = none
    hunk-header-file-style = "#999999"
    hunk-header-line-number-style = bold "#03a4ff"
    hunk-header-style = file line-number syntax
    line-numbers = true
    line-numbers-left-style = black
    line-numbers-minus-style = "#B10036"
    line-numbers-plus-style = "#03a4ff"
    line-numbers-right-style = black
    line-numbers-zero-style = "#999999"
    minus-emph-style = syntax bold "#780000"
    minus-style = syntax "#400000"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004000"
    whitespace-error-style = "#280050" reverse
    zero-style = syntax
    syntax-theme = Nord


[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[user]
    email = 32649457+dantonyuk@users.noreply.github.com
    name = Dmitry Antonyuk
    signingkey = FA2882D0734C9115
[push]
    default = simple
[fetch]
    prune = true
[pull]
    rebase = false
[init]
    templatedir = /home/dmitry/.git-templates
    defaultBranch = master
[gc]
    writeCommitGraph = true
[github]
    user = dantonyuk
[web]
    browser = mine
[browser "mine"]
    cmd = /home/dmitry/bin/browser
[commit]
	gpgsign = true
[gpg]
	program = gpg
